<div>
    <div>Nmae: {{ github.login }}</div>
     <div>Image: <img src="{{ github.avatar_url }}" width="100px"></div>
     "id": {{ github.id }},
      "node_id": {{ github.node_id }}
      "avatar_url": {{ github.avatar_url }}
      "gravatar_id": {{ github.gravatar_id }},
      "url": <a href='{{ github.url }}'>url</a> ,
      "html_url": <a href = '{{ github.html_url }}'>html</a>,
      "followers_url": {{ github.followers_url }},
      "following_url": {{ github.following_url }},
      "gists_url": {{ github.gists_url }},
      "starred_url": {{ github.starred_url }},
      "subscriptions_url": {{ github.subscriptions_url }},
      "organizations_url": {{ github.organizations_url }},
      "repos_url": {{ github.repos_url }},
      "events_url": {{ github.events_url }},
      "received_events_url": {{ github.received_events_url }},
      "type": {{ github.type }}
      "site_admin":{{ github.site_admin }}
      "score": {{ github.score }}
</div>


