<div class="container">
<div class="row">
<div class="col-md-4">
<div class="visaNav">

  <h2 class="white"> Top Requested Visas</h2>
  <div class="horizontal white"></div>
</div>

<a href="#"><div class="navLinks">
 <div class="navText"> Malaysian<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>

<a href="#"><div class="navLinks">
 <div class="navText"> Thailand<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>

<a href="#"><div class="navLinks">
 <div class="navText"> Australian<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>


<a href="#"><div class="navLinks">
 <div class="navText"> Canadian<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>

<a href="#"><div class="navLinks">
 <div class="navText"> Chinese<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>

<a href="#"><div class="navLinks">
 <div class="navText"> Singaporean<i class="fas fa-angle-right float-right" ></i></div>
</div>
</a>




</div>
<div class="col-md-7">
    <section id="about">
          <div class=" mx-auto">
            <h2 class="heading">About us</h2>
            <div class="horizontal"></div>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the <span class='salmon'>1500s.</span> </p>
            <p class="sub">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

            <button class=" btn btn-primary know">


              Know more

            </button>
          </div>
    </section>

    <section id="services" class="bg-light">
          <div class="mx-auto">
            <h2 class="heading">Our Services</h2>
            <div class="horizontal"></div>

            <div class="row">

              <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>

            <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>


            <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>


      </div>


      <div class="row">

              <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>

            <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>

            <div class="box">
                <div class="servicesBox">
                  <i class="fas fa-globe salmon bordered fa-1x"></i>
                  <h1 class="salmon light">Passport</h1>
                  <p class="serviceText">Don't have your passport services</p>

              </div>
            </div>

      </div>
  </div>
</section>

    <section id="contact">
          <div class=" mx-auto">
            <h2 class="heading">Words from CEO</h2>
            <div class="horizontal"></div>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the <span class='salmon'>1500s.</span> </p>
            <p class="sub">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

          </div>
          </section>
          </div>
     </div>
 </div>
 
